<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>I'm <%= title %> of TCV</p>
    <br>
    <br>
    <h2> @param1 --> text: ~~ </h2>
    <h2> @param2 --> key: ~~ </h2>
    <h2> @param3 --> flag: ~~ (0: encryption)</h2>
  </body>
</html>
